
.form{
 display: flex;
 flex-direction: column; 
 justify-content: center;
 margin-top: 1rem;
 font-size: 0.8rem;
 width: 85%;
 margin: auto;
}


.form input{
    padding: 0.8rem;
     width: 100%;
    border-radius: 0.5rem;
}
.form label{
    margin: 0.3rem 0;
}
.form .btn{
   width: 10rem;
   padding: 1rem;
   margin-top: 1rem;
   align-self: center;
   background:#4A4E69;
   color: white;
   border: 1px solid;
   cursor: pointer;
   margin-bottom: 1rem;
}
.form p{
    color: red;
}
